@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-text-primary-color {
    background-image: linear-gradient(to right, #6a11cb, #2575fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}